#!/bin/sh
# CUMULUS-AUTOPROVISIONING

echo "RUNNING ZTP"

mkdir /root/.ssh
echo "{{ pxe_user.ssh_public_key }}"  > /root/.ssh/authorized_keys
chmod 700 /root
chmod 700 /root/.ssh
chmod 400 /root/.ssh/authorized_keys
chmod root:root /root/.ssh/authorized_keys

# CUMULUS-AUTOPROVISIONING
exit 0
